<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
              
              
              <bean class="com.stock.mvc.dao.impl.ArticleDaoImpl" id="articleDAO"></bean>
             
              <bean class="com.stock.mvc.services.impl.ArticleServiceImpl" id="ArticleService">
                <property name="dao" ref="articleDAO" ></property>
              </bean>

 </beans> 